---
import { ThemeToggle } from "@/components/theme-toggle";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="min-h-dvh h-auto flex items-center justify-center">
    <ThemeToggle client:load />
  </div>
</Layout>
