---
import { Font } from "astro:assets";
import { SEO } from "astro-seo";
import { siteConfig } from "@/config/site";

import "@/styles/global.css";

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | ${siteConfig.title}`
  : siteConfig.title;

const description = Astro.props.description || siteConfig.description;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <Font cssVariable="--font-geist" />
    <Font cssVariable="--font-geist-mono" />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          image: '/og-image.png',
          type: 'website' 
        }
      }}
      twitter={{
        card: 'summary_large_image'
      }}
      extend={{
        link: [
          {
            rel: 'icon',
            href: '/favicon.svg',
            type: 'image/svg+xml'
          }
        ]
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }

    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const isDark = getThemePreference() === "dark";

  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");

      localStorage.setItem("theme", isDark ? "dark" : "light");
    });

    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
